body {
  font-family: sans-serif;
  text-align: center;
}

/*
.item-links {
  position: absolute;
  width: 50%;
  text-align: center;
  border-right: solid black;
}

.single-items {
  margin-left: 55%;
}*/
.active {
  color:lime;
}
