<div class="create-note">
  {{input class="title-input" type="text" placeholder="title" value=title}}
  {{input class="date-input" type="date" placeholder="date" value=date}}
  {{input class="body-input" type="text" placeholder="body" value=body}}
  <button {{action 'submitReminder'}} type="button" class="submit-btn">Submit Reminder</button>
</div>
