<div class="create-note">
  {{input type="text" placeholder="title"}}
  {{input type="text" placeholder="date"}}
  {{input type="text" placeholder="body"}}
  <button type="button">Submit Reminder</button>
</div>

{{outlet}}
